<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <form (submit)="submitLocation(cityname,contrycode)">
          <img src="assets/img/clima.png" alt=""  width="500" height="500">
          <input type="text" class="form-control" placeholder="City Name">
          <input type="text" class="form-control" placeholder="Contry Code">
          <button class="btn btn-primary btn-block mt-2">Get Weather</button>

        </form>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>